* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
        margin: 0;
        padding: 0;
        background: cornflowerblue;
        display: flex;
        min-height: 100vh;
        align-items: center;
        justify-content: center;
}

.container{
        border: 2px dashed #fff;
        height: 500px;
        width: 700px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}
.container2{
        border: 2px solid;
        display: flex;
}

.btn{
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin-top: 5px;
}

.response{
        align-items: center;
        justify-content: center;
}